<!DOCTYPE html>
<html lang="fr" ng-app="surveyManiaApp" id="app-container">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>API</title>
        <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/homepage.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/animate.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <script src="{{asset('js/jquery-1.11.3.min.js')}}"></script>
        <script src="{{asset('js/bootstrap.min.js')}}"></script>
        <script src="{{asset('js/wow.min.js')}}"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Brand</a>
                {% if app.user %}
                    Bonjour {{ app.user.username }}
                {% endif %}
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Nos offres</a></li>
                <li><a href="#">Le produit</a></li>
              </ul>
            </div>
          </div>
        </nav>
         <section id="family" class="col-md-12">
            <div id="mini-game" class="row-centered">
                <div class="col-md-8" style="float:none;margin:auto;">
                    <span class="minigame-title wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        Regroupez toutes vos applications et gérez les en un clic !
                    </span>
                    <div class="minigame-text wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
                        <p>ApiProject permet de rassemblez toutes vos applications au sein d'un seul et unique service !</p> 
                        <p>De cette façon, vous êtes toujours <strong>connectés</strong> à vos amis !</p> 
                        <p>Ne perdez plus de <strong>temps</strong> à jongler entre toutes vos apps.</p> 
                        <p>Découvrez comment chatter en <strong>un seul</strong> clic!</p> 
                        <p><strong>Snapchat, Whatsapp, et bien plus encore</strong> : centralisez vos apps gratuitement!</p>
                    </div>
                </div>
            </div>
        </section>
        <div id="feature-container" class="col-md-10">
            <div id="feature" class="row">
                <div class="features">
                    <div class="col-md-3 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-arrows"></i>
                            <h2>Drag&Drop</h2>
                            <h3>Une interface simple et intuitive pour créer vos sondages</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-pie-chart"></i>
                            <h2>Statistiques</h2>
                            <h3>Obtenez des statistiques ultra détaillées sur vos utilisateurs</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-rocket"></i>
                            <h2>Visibilité</h2>
                            <h3>Grâce aux QRcodes, vous pouvez atteindre des milliers d'utilisateurs</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-gamepad"></i>
                            <h2>Mini-jeu</h2>
                            <h3>Créez des minis-jeux afin de rendre vos sondages ludiques et amusants</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pricing">
            <div id="pricing-container" class="col-md-10">
                <div class="pricing-item col-md-3 col-md-offset-1">
                    <h3>Basique</h3>
                    <ul>
                        <li>osef1</li>
                        <li>osef2</li>
                    </ul>
                    <button>Acheter</button>
                </div>
                <div class="pricing-item col-md-3 col-md-offset-1">
                    <h3>pro</h3>
                    <ul>
                        <li>osef1</li>
                        <li>osef2</li>
                    </ul>
                    <button>Acheter</button>
                </div>
                <div class="pricing-item col-md-3 col-md-offset-1">
                    <h3>premium</h3>
                    <ul>
                        <li>osef1</li>
                        <li>osef2</li>
                    </ul>
                    <button>Acheter</button>
                </div>
            </div>
        </div>
    </body>
    <script>
     new WOW().init();
    </script>
</html>